.popup__input{
    font-size: 14px;
    margin: 0 auto 30px;
    padding-bottom: 13px;
    width:100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    line-height: 16.94px;
    padding-left: 0;
}

@media screen and (max-width: 450px) {
    .popup__input {
        padding-bottom: 13px;
    }
}
