.popup__button-submit{
    padding: 14px 0 18px;
    max-height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 21.78px;
    border: none;
    border-radius: 2px;
    transition: opacity .25s ease;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 18px;
}
.popup__button-submit:hover{
    opacity: .8;
}

@media screen and (max-width:450px){
    .popup__button-submit{
        font-size: 14px;
        line-height: 17px;
    }
}